<div class="contents">
  <h1>Member Detail component!</h1>
  <p>Membro carregado: {{ selected_member.name }} - {{ selected_member.surname }}</p>

  <img src="{{ selected_member.photo }}" />
  <br />
  <div class="text">
    <input type="text" [(ngModel)]="selected_member.id" readonly /> <br />
    <input type="text" [(ngModel)]="selected_member.name"/> <br />
    <input type="text" [(ngModel)]="selected_member.surname" /> <br />
    <input type="text" [(ngModel)]="selected_member.phone" /> <br />
    <input type="text" [(ngModel)]="selected_member.email" /> <br />
    <input type="file" (change)="onFileSelected($event)" /> <br /><br />

    <div class="btn">
      <button (click)="update()">Update Member</button>
      <button (click)="newMember()">Novo</button>
      <button (click)="deleteMember()">Apagar</button>
    </div>
  </div>
</div>
