.container {
  width: 50% auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

input {
  margin-top: 5px;
  width: 50%;
}

button {
  margin: 0 5px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
